<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Sapient Nitro Code Test</title>
</head>
<body ng-app="demo">
<hr/>
<div class="container" ng-controller="CardController">
    <div class="row">
        <label>Credit Card System</label><br>

        <label>Number</label><br>
        <input type="text" ng-model="cardDto.creditCardNumber" class="input-sm spacing"/><br>

        <label>Name</label><br>
        <input type="text" ng-model="cardDto.name" class="input-sm spacing"/><br>

        <label>Limit</label><br>
        <input type="number" ng-model="cardDto.creditLimit" class="input-sm spacing"/><br>

        <button ng-click="saveCard()" class="btn btn-sm btn-info">Add</button>
    </div>
    <hr/>

    <div class="row">
        <p>{{allCards | json}}</p>
    </div>

    <hr/>

    <table>
        <tr style="background-color: #9d9d9d; width: 100%">
            <td>Name</td>
            <td>Card Number</td>
            <td>Balance</td>
            <td>Limit</td>
        </tr>
        <tr ng-repeat="card in allCards">
            <td>{{ card.name }}</td>
            <td>{{ card.creditCardNumber }}</td>
            <td>{{ card.remainingCredit}}</td>
            <td>{{ card.creditLimit}}</td>
        </tr>
    </table>
</div>

</body>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/CardController.js"></script>
<script src="js/app/CardService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/app/app.css"/>
</html>